.answers {
    background-color: lightcyan;
}
.possibilities {
    background-color: #f2b179;
    color: #f9f6f2;
}

.red-border {
    border: 5px solid red;
}

.goals {
    color: green;
    font-size: 35px;
}

table {
    font-size: 50px;
    border: 5px solid #bbada0;
}

td {
    text-align: center;
    width: 128px;
    height: 128px;
    border: 1px solid white;
}

